body {background-color:#45B39D;}

h1 {
	color:gold;
	text-align: center;
	font-size: 50px;
	font-family: 'Bowlby One SC', cursive;;


}

p {
	color: gold;
	text-align: center;
	font-style: italic;
}

p1 {
	color: gold;
	text-align: center;
	font-style: normal;
}

p2, ul {
	color: gold;
	text-align: left;
	font-style: normal;

}